<app-header titleActivity="NASA"></app-header>

<ion-content>
  <ion-slides pager="false">
    <ion-slide *ngFor="let obj of marte">
      <ion-card mod="ios" color="dark" navtive>
        <img [src]="obj.img_src" [alt]="obj.camera.name" />
        <ion-card-header>
          <ion-card-subtitle>Name: {{ obj.camera.name }}</ion-card-subtitle>
          <ion-card-title>
            Rover Name:
            <strong>
              {{ obj.rover.name }}
            </strong>
          </ion-card-title>
          <ion-card-content
            >Status: {{ obj.rover.status }}
            <h3>ID: {{ obj.id }}</h3>
            <ion-label>Full Name: {{ obj.camera.full_name }}</ion-label>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
