<app-header titleActivity="DEBER"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let person of personajes">
      <ion-avatar slot="start">
        <img [src]="person.image" [alt]="person.name" />
      </ion-avatar>
      <ion-label>{{ person.name }}</ion-label>
      <ion-label>{{ person.gender }}</ion-label>
      <ion-label>{{ person.origin.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-slides pager="true">
    <ion-slide *ngFor="let person of personajes">
      <ion-card mod="md" color="dark">
        <img [src]="person.image" [alt]="person.name" />
        <ion-card-header>
          <ion-card-subtitle>{{ person.gender }}</ion-card-subtitle>
          <ion-card-title>{{ person.name }}</ion-card-title>
          <ion-card-content
            >{{ person.location.name }}
            <h3>{{ person.species }}</h3>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
